body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333; /* Text color */
}

h4 {
    text-align: center;
    margin-top: 20px;
    color: #333; /* Heading color */
}

/* Main container styling */

.mySearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-group {
    display: flex;
    align-items: center;
}

    .search-group input {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        flex: 1;
    }

button {
    background-color: #E7E7E7;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0; /* To ensure square corners */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

    button:hover {
        background-color: #ccc; /* Lighter grey on hover */
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #e7e7e7;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center !important; /* Center align text in both headers and cells */
}

.sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    .sections label {
        margin-bottom: 5px;
        color: #333; /* Label text color */
    }

    .sections input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.clearing {
    display: flex;
    flex-direction: column;
}

    .clearing label {
        margin-bottom: 5px;
        color: #333; /* Label text color */
    }

    .clearing input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

#NOPS {
    display: none;
    margin-top: 10px;
}

    #NOPS.show {
        display: block;
    }

#loading {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}